/* apply an optimized natural box layout model*/
html,body {
    box-sizing: border-box;
    background-color: white;
    margin: auto;
    height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Globals*/

.wrapper {
    margin:auto;
    height: inherit;
    overflow-y: hidden;
}

.main {
    width: 100%;
}

tbody {
    display: block;
    overflow: scroll;
    width: 100%;
    height: 670px;
}

thead {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #f1f1f1;
}

table {
    margin-top:100px;
    display: inline-block;
    margin:auto;
    border-collapse: collapse;
}

/*Column and Row headings*/

.tools-wraper {
    position: fixed;
    top: 0;
    z-index: 2;
    display: block;
    width: 100%;
}

.menu-bar {
    background-color:  #f1f1f1;
    height: 20px;
    display: inherit;
}

.tool-bar {
    height: 50px;
    background-color: #f1f1f1;
    display: inherit;
}

.formulas {
    height: 30px;
    background-color: white;
    display: inherit;
}

.bookmarks {
    position:fixed;
    bottom: 0px;
    float: left;
}

.footter-toolbar {
    position:fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
}


td:first-child {
    max-width:40px;
    position:relative;
}

tbody td:first-child {
    background-color: #f1f1f1;
    text-align: center;
}

/*Main*/
td {
    font-size: 11px;
    height: 24px;
    min-width: 100px;
    width: 100px;
    border: solid 1px #c0c0c0;

    padding: 0;
    margin: 0;

}

/*
input {
    margin: 0;
    padding:0 2px;
    height: 100%;
    width: 100%;
    border: 0px;
}
*/

/*
input:focus {
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #4C8EFA;
}
*/



