/*Globals*/

body {
    background-color: #ddd;
    margin: auto;
}

.wrapper {
    margin:auto;
    max-width: 1000px;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

table {
    margin:auto;
    width: 98%;
    border-collapse: collapse;
}

select {
    margin-left:1%;
}


/*Column and Row headings*/

thead {
    text-align: center;
    background-color: #f1f1f1;
}

td:first-child {
    width: 40px;
}

tbody td:first-child {
    background-color: #f1f1f1;
    text-align: center;
}

/*Main*/
td {
    font-size: 11px;
    height: 24px;
    width: 100px;
    border: solid 1px #c0c0c0;

    padding: 0;
    margin: 0;

}

input {
    margin: 0;
    padding:0 2px;
    height: 100%;
    width: 100%;
    border: 0px;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

input:focus {
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #4C8EFA;
}



