<div class="tools-wrapper">
  <div class="main-menu-button-align">
    <div class="main-menu-button">
      <img src="images/menu_stack.png">
    </div>
  </div>
  <div class="menu-bar-align">
    <div class="menu-bar btn-group">
      <div></div>
      <div class="menu-button btn btn-sm btn-default btn-save" id="btn-save">Save</div>
      <div class="menu-button btn btn-sm btn-default btn-reset" id="btn-reset">Reset</div>
      <div class="menu-button btn btn-sm btn-default btn-delete" id="btn-delete">Delete</div>
      <div></div>
    </div>
  </div>
  <div class="tool-bar-align">
    <div class="tool-bar"></div>
  </div>
  <div class="formulas">
    <span><img src="../../images/Function.png"></span>

    <label><input class="input-console"></label>
  </div>
</div>

<div class="main">
</div>

<div class="footer-toolbar-align">
  <div class="footer-toolbar">
    <div class="button-wrapper">
      <button type="button" class="btn btn-sm btn-default" id="add-sheet-button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>

    <div class="dropup" id="dropdownSheetsList">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle"
              id="dropdownSheetsListMenu" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownSheetsListMenu">

      </ul>
    </div>

    <!--<div>-->
      <!--<select title="pages"></select>-->
    <!--</div>-->

    <div class="sheet-bookmarks"></div>
  </div>
</div>